:host {
  width: 100%;
  height: 3rem;
  padding: 10px;
}

.form-find-input {
  display: flex;
  align-items: baseline;
}

.find-input {
  flex: auto;
}

.button-submit {
  height: 2rem;
  margin-left: 10px;
}
