:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.container__header,
.container__footer {
  flex-shrink: 0;
  height: 10vh;
}

.container {
  display: flex;
  height: 80vh;
}

.container__sidebar {
  width: 60px;
  border-right: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  right: 25px;
  position: absolute;
}

.aside-icon {
  color: #0120ff;
}

.active {
  color: #ff4081;
}
