<header class="container__header">
  <mat-toolbar>
    <span>Image Finder</span>
    <button mat-icon-button class="nav-icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>

<div class="container">

  <aside class="container__sidebar">
      <button
        mat-icon-button
        class="aside-icon"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
      >
        <mat-icon>cloud</mat-icon>
      </button>
      <button
        mat-icon-button
        class="aside-icon"
        routerLink="bookmarks"
        routerLinkActive="active"
      >
        <mat-icon>bookmarks</mat-icon>
      </button>
  </aside>


  <router-outlet></router-outlet>

</div>

<footer class="container__footer">
  <mat-toolbar>
    <span>Copyrights</span>
  </mat-toolbar>
</footer>
<app-save-mode *ngIf="active"></app-save-mode>
