<mat-card class="image-card">
  <img mat-card-image *ngIf="image.length" [src]="image[3].source" [alt]="title">
  <mat-card-content>
    <strong>Tags:</strong>
    <p>
      <ng-container *ngFor="let tag of tags">{{tag.raw}} </ng-container>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="actionCard()">BOOKMARKS</button>
    <button mat-button (click)="imageModal = !imageModal">OPEN</button>
  </mat-card-actions>
</mat-card>

<app-image-modal *ngIf="imageModal" [images]="image" (close)="closeModal($event)"></app-image-modal>
